

/* index.html - EVERYTHING INDEX */

#index-page a { color: red; }


/* about.html - EVERYTHING ABOUT */

#about-page a { color: purple; }


/* contact.html - EVERYTHING CONTACT */

#contact-page a { color: green; }














